:root {
  --color-primary: #262262;
  --color-secondary: #00A79D;
  --color-greybg: #e1e1e1;
  --color-white: #FFF;

  --font-primary: "Lato", Arial, sans-serif;
}

a {
  font-family: lato;
  color: var(--color-white);
}

ul, ol {
  text-decoration: none;
}

blockquote, cite {
  font-family: lato;
  color: var(--color-primary);
  font-weight: normal;
  font-style: italic;
  padding-left: 1.5em;
  padding-right: 1em;
}

strong, b {
  font-weight: bold;
}

mark {
  color: black;
}

a {
  text-decoration: none;
  color: var(--color-secondary);
}

h1 {
  font-family: lato;
  color: var(--color-primary);
  font-weight: 600;
}

h2 {
  font-family: lato;
  color: var(--color-primary);
  font-weight: 400;
}


h3 {
  font-family: lato;
  color: var(--color-primary);
  font-weight: 400;

}

h4 {
  font-family: lato;
  color: var(--color-primary);
  font-weight: 400;
}

h5 {
  font-family: lato;
  color: var(--color-primary);
  font-weight: 400;
}

h6 {
  font-family: lato;
  color: var(--color-primary);
  font-weight: 400;
}

p {
  font-family: lato;
}

dd, li {
  font-family: lato;
}

dt {
  font-family: lato;
  font-weight: bold;
}

.producttext {
  text-align: center;
}

.productspread {
  justify-content: center;
}

.productshot {
  max-width: auto;
}
