:root {
  --color-primary: #262262;
  --color-secondary: #00A79D;
  --color-greybg: #e1e1e1;
  --color-white: #FFF;

  --font-primary: "Lato", Arial, sans-serif;
}

ul {
  text-decoration: none;
}

a {
  text-decoration: none;
}
