:root {
  --color-primary: #262262;
  --color-secondary: #00A79D;
  --color-greybg: #e1e1e1;
  --color-white: #FFF;

  --font-primary: "Lato", Arial, sans-serif;
}

ul {
  text-decoration: none;
}

a {
  text-decoration: none;
}

h1 {
  font-family: lato;
  color: var(--color-primary);
  font-weight: 600;
  padding-left: 1.5em;
  padding-right: 1em;
}

h2 {
  font-family: lato;
  color: var(--color-primary);
  font-weight: 400;
  padding-left: 1.5em;
  padding-right: 1em;
}


h3 {
  font-family: lato;
  color: var(--color-primary);
  font-weight: 400;
  padding-left: 1.5em;
  padding-right: 1em;
}

h4 {
  font-family: lato;
  color: var(--color-primary);
  font-weight: 400;
  padding-left: 1.5em;
  padding-right: 1em;
}

h5 {
  font-family: lato;
  color: var(--color-primary);
  font-weight: 400;
  padding-left: 1.5em;
  padding-right: 1em;
}

h6 {
  font-family: lato;
  color: var(--color-primary);
  font-weight: 400;
  padding-left: 1.5em;
  padding-right: 1em;
}

p {
  font-family: lato;
  padding-left: 2em;
  padding-right: 2em;
}

dd, li {
  font-family: lato;
  padding-left: 2em;
  padding-right: 2em;
}

dt {
  font-family: lato;
  padding-left: 2em;
  padding-right: 2em;
  font-weight: bold;
}

.producttext {
  text-align: center;
}

.productspread {
  justify-content: center;
}

.registersubmit {
  margin: 2em;
}

.productshot {
  max-width: auto;
}
