.card {
  background-color: var(--color-greybg);
  max-width: 20em;
  font-weight: 400;
  font-family: Lato;
  padding: 1.5em
}

.cardtitle {
  margin: 0;
  padding-left: 0;
}

.cardtext {
  margin-bottom: 1em;
  padding-left: 0em;
}

.cardwhite {
  background-color: var(--color-white);
}
